body{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
}
#ping, #fps{
    color: white;
    position: fixed;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}
#fps{
    top: 1em;
}